  body{
    background-color: #1f263b;
  }
  button:hover {
    cursor:pointer;
  }
  input {
    text-align: center;
    margin-bottom: 5px;
    
    background: none;
    outline:none;
    color:black;
    
    border: 2px solid slategrey;
    border-radius: 5px;
    padding: 2px 0px;
  }
  input:hover{
    border: 2px solid black;
  }
  .container{
    display:flex;
  }
  .container-title{
    display:flex;
    margin-top:5%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
  }
  #student-container{
    display:flex;
    flex-direction:column;
    
    align-items: center;
    height: 167px;
  }
  #student-button{
    background-color:blue;
    color:white;
    padding: 0px 60px;
    border: none;
    border-radius: 5px;
    margin-top: 0px;
  }
  #student-button:hover{
    padding: 0px 55px;
    background-color: lightblue;
  }
  
  #student-form{
    display:flex;
    flex-direction:column;
    margin-top: 10px;
  }
  
  #teacher-container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
  #teacher-button{
    background-color:green;
    color:white;
    margin-top: 10px;
    padding: 0px 60px;
    border: none;
    border-radius: 5px;
  }
  #teacher-form{
    display:flex;
    flex-direction:column;
    margin-top: 10px;
  }
  #teacher-button:hover{
    padding: 0px 55px;
    background-color: lightgreen;
  }