input{
  margin:5px;
}
body{
  margin:0px;
}
#nav-container{
  background-color: slategray;
  margin:0px;
}
#question-bank-nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  height: 50px;
}
#question-body-container{
  display:flex;
  justify-content: center;
}
#question-creating-container{
  margin-top:24px;
  margin-bottom:24px;
  display:flex;
  flex-direction: row;
  height:auto;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
}
#question-bar-container{
  display:flex;
  flex-direction: column;
  flex:0 0 auto;
}
#teacher-question-bank{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
#question-input{
  padding: 0px 135px;
}
#answer-choice-section{
  width: 520px;
}
#add-question-footer{
  display:flex;
  flex-direction: row;
  
  gap:25px;
}

#question-creation-display{
  border:1px solid black;
  width: 480px;
  height: 360px;
  text-align: center;
}

#currently-added-questions{
  display:flex;
  align-items: start;
  justify-content: space-evenly;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color:slategrey;
}

#test-table-container{
	margin-right: 1rem;
}

#added-questions h2, #test-table-container h2 {
  text-align: center;
}

#questions-answer-table, #test-table {
  border-collapse: collapse;
}
#questions-answer-table th, #test-table th{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border: 1px solid black;
}
#questions-answer-table td, #questions-answer-table th,
#test-table td, #test-table th {
  padding-right: 50px;
  border: 1px solid black;
}


